body{
    font-family:Arial,sans-serif;
    text-align: Center;
    background:rgba(10, 124, 205, 0.429);
    padding:20px;
}

form{ margin_bottom: 20px;
}
form {
    margin-bottom: 20px;
}
input[type = "text"]{
    padding: 10px;
    width: 60%;
    border: 2px solid #000dff;
    border-radius: 20px;
}
    button {
    padding: 10px 15px;
    background-color: #082b8497;
    border: none ;
    color: rgb(192, 252, 250);
    border-radius: 20px;
    cursor: pointer;    
    }
    button:hover{
    background-color:#ffffff;
    }
ul {
    list-style:nome;
    padding: 0;
}
    li {
    margin: 10px auto;
    padding: 10px;
    width: 70%;
    background: rgba(34, 122, 151, 0.341);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
     }
    a{
        text-decoration: none;
        margin-left: 10px;
        color:#555;
    }
